<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Post Create</h1>
    <form action="/create" method="post">
        <p>名前<input type="text" name="postName"></p>
        <p>タイトル<input type="text" name="postTitle"></p>
        <p>内容<input type="text" name="postBody"></p>
        <input type="submit" value="登録">
    </form>
    {% for post in posts %}
    <p>{{ post.name }} {{ post.title }} {{ post.body }}</p>
    {% endfor %}
</body>

</html>
